In [6]:
if (!require(dplyr)) install.packages("dplyr", lib="../work/")
library(dplyr)

if (!require(readxl)) install.packages("readxl", lib="../work/")
library(readxl)

Loading required package: readxl

## Check the current fish_master

In [24]:
# Import in Combined Kenai Data
fish_master = read_excel("../Data/fish_master.xlsx")
head(fish_master)

  date       year_x fish_count precipitation air_temp stage discharge
1 2022-07-01 2022    5034       0            57.5      9.92 15000
2 2022-07-02 2022    4212       0            56.5     10.02 15200
3 2022-07-03 2022    5796       0            58.5     10.04 15300
4 2022-07-04 2022    7314      NA            57.5     10.08 15300
5 2022-07-05 2022    7386       0            55.5     10.03 15200
6 2022-07-06 2022   10341       0            57.5     10.02 15100
  water_temp luna moon_phase    Set Gill Net
1 59.72       3   New Moon      NA
2 59.00       4   New Moon      NA
3 57.20       5   New Moon      NA
4 56.84       6   New Moon      All except Kenai & E. Foreland sections
5 57.02       7   New Moon      NA
6 56.84      10   First Quarter NA
  Drift Gill Net                        year_y set_net drift_net
1 NA                                      NA   NA      NA
2 Kasilof Section                       2022    0       1
3 NA                                      NA   NA      NA
4 District Wide except Chinitna Bay Sub 2022    0       0
5 NA                                      NA   NA      NA
6 Drift Area 1                          2022    0       0

In [47]:
summary(fish_master)

      date                         year_x       fish_count
 Min.   :2000-07-01 00:00:00   Min.   :2000   Min.   :  1252
 1st Qu.:2006-07-12 18:00:00   1st Qu.:2006   1st Qu.: 10612
 Median :2011-08-06 12:00:00   Median :2011   Median : 21716
 Mean   :2011-11-22 11:30:50   Mean   :2011   Mean   : 30339
 3rd Qu.:2017-08-08 06:00:00   3rd Qu.:2017   3rd Qu.: 39961
 Max.   :2022-08-16 00:00:00   Max.   :2022   Max.   :247084

 precipitation        air_temp         stage          discharge
 Min.   :0.00000   Min.   :45.50   Min.   : 7.270   Min.   : 9000
 1st Qu.:0.00000   1st Qu.:54.50   1st Qu.: 9.030   1st Qu.:12900
 Median :0.00000   Median :56.50   Median : 9.395   Median :14100
 Mean   :0.07346   Mean   :56.37   Mean   : 9.416   Mean   :14272
 3rd Qu.:0.08000   3rd Qu.:58.50   3rd Qu.: 9.840   3rd Qu.:15500
 Max.   :1.86000   Max.   :70.00   Max.   :11.690   Max.   :23700
 NA's   :109       NA's   :1       NA's   :54
   water_temp         luna        moon_phase        Set Gill Net
 Min.   :47.66   Min.   : 0.00   Length:1136        Length:1136
 1st Qu.:52.70   1st Qu.: 7.00   Class :character   Class :character
 Median :54.32   Median :16.00   Mode  :character   Mode  :character
 Mean   :54.42   Mean   :17.81
 3rd Qu.:56.30   3rd Qu.:27.00
 Max.   :63.86   Max.   :38.00
 NA's   :576
 Drift Gill Net         year_y        set_net         drift_net
 Length:1136        Min.   :2000   Min.   :0.0000   Min.   :0.0000
 Class :character   1st Qu.:2005   1st Qu.:0.0000   1st Qu.:0.0000
 Mode  :character   Median :2010   Median :1.0000   Median :0.0000
                    Mean   :2011   Mean   :0.5802   Mean   :0.3939
                    3rd Qu.:2016   3rd Qu.:1.0000   3rd Qu.:1.0000
                    Max.   :2022   Max.   :1.0000   Max.   :1.0000
                    NA's   :288    NA's   :288      NA's   :288

In [46]:
# Take only the moon phase data
moon_phase = fish_master[c("date", "moon_phase")]
moon_phase$date = as.Date(moon_phase$date, '%Y-%m-%d')
head(moon_phase)

  date       moon_phase
1 2022-07-01 New Moon
2 2022-07-02 New Moon
3 2022-07-03 New Moon
4 2022-07-04 New Moon
5 2022-07-05 New Moon
6 2022-07-06 First Quarter

In [45]:
# Read in the clean fish data
fish_data = read.csv('../Data/fish_data_water_temp.csv')
fish_data$date = as.Date(fish_data$date, '%Y-%m-%d')
head(fish_data)

  date       year fish_count precipitation air_temp stage discharge water_temp
1 2022-07-01 2022  5034      0             57.5      9.92 15000     59.72
2 2022-07-02 2022  4212      0             56.5     10.02 15200     59.00
3 2022-07-03 2022  5796      0             58.5     10.04 15300     57.20
4 2022-07-04 2022  7314      0             57.5     10.08 15300     56.84
5 2022-07-05 2022  7386      0             55.5     10.03 15200     57.02
6 2022-07-06 2022 10341      0             57.5     10.02 15100     56.84
  luna
1  3
2  4
3  5
4  6
5  7
6 10

In [54]:
net_data = read_excel('../Data/fish_test_cleanednets.xlsx')

# Convert char to datetime
net_data$date = as.Date(net_data$full_date, '%m/%d/%Y')

# Keep only set_net and drift_net
net_data = net_data[c('date', 'set_net', 'drift_net')]

head(net_data)

  date       set_net drift_net
1 2000-06-02 0       0
2 2000-06-05 0       0
3 2000-06-07 0       0
4 2000-06-09 0       0
5 2000-06-12 0       0
6 2000-06-14 0       0

In [49]:
# Combine fish and moon data
combined_data = left_join(fish_data, moon_phase, by=c('date'))

Warning message in left_join(fish_data, moon_phase, by = c("date")):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 113 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this
  warning.”

In [50]:
head(combined_data)

  date       year fish_count precipitation air_temp stage discharge water_temp
1 2022-07-01 2022  5034      0             57.5      9.92 15000     59.72
2 2022-07-02 2022  4212      0             56.5     10.02 15200     59.00
3 2022-07-03 2022  5796      0             58.5     10.04 15300     57.20
4 2022-07-04 2022  7314      0             57.5     10.08 15300     56.84
5 2022-07-05 2022  7386      0             55.5     10.03 15200     57.02
6 2022-07-06 2022 10341      0             57.5     10.02 15100     56.84
  luna moon_phase
1  3   New Moon
2  4   New Moon
3  5   New Moon
4  6   New Moon
5  7   New Moon
6 10   First Quarter

In [66]:
# Now add the net data
combined_data_master = left_join(combined_data, net_data, by=c('date'))

Warning message in left_join(combined_data, net_data, by = c("date")):
“Each row in `x` is expected to match at most 1 row in `y`.
ℹ Row 7 of `x` matches multiple rows.
ℹ If multiple matches are expected, set `multiple = "all"` to silence this
  warning.”

In [67]:
head(combined_data_master)

  date       year fish_count precipitation air_temp stage discharge water_temp
1 2022-07-01 2022  5034      0             57.5      9.92 15000     59.72
2 2022-07-02 2022  4212      0             56.5     10.02 15200     59.00
3 2022-07-03 2022  5796      0             58.5     10.04 15300     57.20
4 2022-07-04 2022  7314      0             57.5     10.08 15300     56.84
5 2022-07-05 2022  7386      0             55.5     10.03 15200     57.02
6 2022-07-06 2022 10341      0             57.5     10.02 15100     56.84
  luna moon_phase    set_net drift_net
1  3   New Moon      NA      NA
2  4   New Moon       0       1
3  5   New Moon      NA      NA
4  6   New Moon       0       0
5  7   New Moon      NA      NA
6 10   First Quarter  0       0

In [68]:
# Before replacing NA
summary(combined_data_master)

      date                 year        fish_count     precipitation
 Min.   :2000-07-01   Min.   :2000   Min.   :  1436   Min.   :0.00000
 1st Qu.:2014-08-06   1st Qu.:2014   1st Qu.: 14098   1st Qu.:0.00000
 Median :2016-08-10   Median :2016   Median : 25556   Median :0.00750
 Mean   :2015-07-20   Mean   :2015   Mean   : 31208   Mean   :0.08536
 3rd Qu.:2019-08-05   3rd Qu.:2019   3rd Qu.: 41544   3rd Qu.:0.10000
 Max.   :2022-08-16   Max.   :2022   Max.   :189420   Max.   :1.14000

    air_temp         stage         discharge       water_temp
 Min.   :45.50   Min.   : 7.27   Min.   :10500   Min.   :47.66
 1st Qu.:54.50   1st Qu.: 9.16   1st Qu.:13200   1st Qu.:52.70
 Median :56.50   Median : 9.48   Median :14400   Median :54.50
 Mean   :56.76   Mean   : 9.57   Mean   :14746   Mean   :54.57
 3rd Qu.:58.50   3rd Qu.:10.08   3rd Qu.:16300   3rd Qu.:56.30
 Max.   :70.00   Max.   :11.27   Max.   :20400   Max.   :63.86

      luna        moon_phase           set_net         drift_net
 Min.   : 0.00   Length:880         Min.   :0.0000   Min.   :0.0000
 1st Qu.: 7.00   Class :character   1st Qu.:0.0000   1st Qu.:0.0000
 Median :17.00   Mode  :character   Median :0.0000   Median :0.0000
 Mean   :18.03                      Mean   :0.3216   Mean   :0.1769
 3rd Qu.:27.00                      3rd Qu.:1.0000   3rd Qu.:0.0000
 Max.   :37.00                      Max.   :1.0000   Max.   :1.0000
                                    NA's   :196      NA's   :196

In [69]:
combined_data_master[is.na(combined_data_master)] <- 0

In [71]:
summary(combined_data_master)

      date                 year        fish_count     precipitation
 Min.   :2000-07-01   Min.   :2000   Min.   :  1436   Min.   :0.00000
 1st Qu.:2014-08-06   1st Qu.:2014   1st Qu.: 14098   1st Qu.:0.00000
 Median :2016-08-10   Median :2016   Median : 25556   Median :0.00750
 Mean   :2015-07-20   Mean   :2015   Mean   : 31208   Mean   :0.08536
 3rd Qu.:2019-08-05   3rd Qu.:2019   3rd Qu.: 41544   3rd Qu.:0.10000
 Max.   :2022-08-16   Max.   :2022   Max.   :189420   Max.   :1.14000
    air_temp         stage         discharge       water_temp
 Min.   :45.50   Min.   : 7.27   Min.   :10500   Min.   :47.66
 1st Qu.:54.50   1st Qu.: 9.16   1st Qu.:13200   1st Qu.:52.70
 Median :56.50   Median : 9.48   Median :14400   Median :54.50
 Mean   :56.76   Mean   : 9.57   Mean   :14746   Mean   :54.57
 3rd Qu.:58.50   3rd Qu.:10.08   3rd Qu.:16300   3rd Qu.:56.30
 Max.   :70.00   Max.   :11.27   Max.   :20400   Max.   :63.86
      luna        moon_phase           set_net       drift_net
 Min.   : 0.00   Length:880         Min.   :0.00   Min.   :0.0000
 1st Qu.: 7.00   Class :character   1st Qu.:0.00   1st Qu.:0.0000
 Median :17.00   Mode  :character   Median :0.00   Median :0.0000
 Mean   :18.03                      Mean   :0.25   Mean   :0.1375
 3rd Qu.:27.00                      3rd Qu.:0.25   3rd Qu.:0.0000
 Max.   :37.00                      Max.   :1.00   Max.   :1.0000

In [76]:
head(combined_data_master)

  date       year fish_count precipitation air_temp stage discharge water_temp
1 2022-07-01 2022  5034      0             57.5      9.92 15000     59.72
2 2022-07-02 2022  4212      0             56.5     10.02 15200     59.00
3 2022-07-03 2022  5796      0             58.5     10.04 15300     57.20
4 2022-07-04 2022  7314      0             57.5     10.08 15300     56.84
5 2022-07-05 2022  7386      0             55.5     10.03 15200     57.02
6 2022-07-06 2022 10341      0             57.5     10.02 15100     56.84
  luna moon_phase    set_net drift_net
1  3   New Moon      0       0
2  4   New Moon      0       1
3  5   New Moon      0       0
4  6   New Moon      0       0
5  7   New Moon      0       0
6 10   First Quarter 0       0

In [80]:
# Added new column to indicate when both nets is out
combined_data_master$net = with(combined_data_master, ifelse(set_net == 0 & drift_net == 0, 'out', 
                                ifelse(set_net == 1 & drift_net == 0, 'set',
                                      ifelse(set_net == 0 & drift_net == 1, 'drift', 'both'))))

In [82]:
write.csv(combined_data_master, '../Data/fish_master.csv', row.names=FALSE)